aiofiles
asgiref
bcrypt
certifi
cffi
charset-normalizer
click
colorama
deta~=1.0.0
dnspython
ecdsa
email-validator
fastapi~=0.66.0
h11
halo~=0.0.31
idna
log-symbols
passlib~=1.7.4
pathlib~=1.0.1
pyasn1
pycparser
pydantic~=1.8.2
python-jose
python-multipart
requests
rsa
shortuuid
six
spinners
starlette~=0.14.2
termcolor
typing-extensions
urllib3
uvicorn~=0.15.0
draftjs_exporter
pyTelegramBotAPI
markdownify
python-decouple
sentry_sdk